.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6%;
}

.image {
  height: 300px;
  width: 200px;
}

.heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  color: #551e53;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 17px;
  margin-left: 20px;
  color: #551e53;
}
